@import "bootstrap/bootstrap.less";

@smallPadding: .25em;


body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

.login {
    .modal;
    .modal-body;
    margin: -200px 0 0 -280px;
    background-image: url("icons/weather-clear.png");
    > form {
        width: inherit;
    }
}

footer {
    .center-block();
    text-align: center;
}

.form-errors {
    padding: @smallPadding;
    color: @errorText;
    background-color: @errorBackground;
}






