
$sidebarSize: 15em;
$boxPadding: 1em;
.debug-border { border: thin dotted #ccc; }

#stations-list {
    float: left;
/*     min-width: 15em; */
    width: $sidebarSize;
    height: 100%;
}

.station-config {
    padding-left: $boxPadding;
    margin-left: $sidebarSize;
}

/* # */
